#main-content {
	padding: 5px !important;
}

.cards-section {
	padding-top: 75px !important;
	width: 100%;
	height: calc(100% - 75px);
	margin: 0 auto;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
}

.cards-list {
	padding: 0;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	list-style: none;
}

.card-item:first-child {
	width: 100%;
	height: 325px;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.card-item {
	flex: none;
	width: 49%;
	height: 350px;
	background: #fff;
	margin-bottom: 20px;
	padding: 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.card-item > * {
	flex: none;
}

.card-item > .bank-brand {
	background: url('/img/scotia.jpg') #222;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100px;
	width: 100%;
	color: #fff;
}

.card-item > .bank-rates {
	background: #222;
	height: 75px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	margin: 0 auto;
	padding: 0;
}

.bank-rates > div {
	flex: 1 0 auto;
	width: 50%;
	margin: 0 auto;
	padding: 0;
	color: #fff;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.card-item > .bank-location {
	background: url('/img/bank-location.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	flex: 1 1 auto;
}