<template name="cards">
  <div class="cards-section">
  	<ul class="cards-list">
      {{#each bankRates}}
    		<li class="card-item">
    			<div class="bank-brand">
          {{#each getSortedBankData (bank_id) }}
    			  <img src="{{logo_url}}" alt="Bank Logo" class="img-fluid">
          {{/each}}
    			</div>
    			<div class="bank-rates">
    				<div>
    					<h3>Buying</h3>${{buying_rate}}
    				</div>
    				<div>
    					<h3>Selling</h3>${{selling_rate}}
    				</div>
    			</div>
          {{> map}}
    		</li>
      {{/each}}
  	</ul>
  </div>
   <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8_fxkTfWxVNocwhWRUsL8Hly0ggiB-Dw&libraries=places"></script> -->
</template>
