<template name="card">
	<div class="bank-card">
		<div class="brand">
			<img src="/public/img/scotia.jpg" alt="Bank Logo" class="bank-logo img-fluid">
			<br/>
			<span><strong>Scotia Bank</strong></span>
		</div>
		<div class="rates">
			<table class="table">
				<thead>
					<tr>
						<th>CURRENCY</th>
						<th>BUY</th>
						<th>SELL</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>USD</td>
						<td>123</td>
						<td>129</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>
