<template name="card">
		<div class="cards-section ncb-card card pt-5">
			{{#each getSortedBankData 'Gw4wa9CXT68Gwkmmc' }}
				<img src="{{logo_url}}" alt="Bank Logo" class="card-logo ">
			{{/each}}
			<table class="table">
				<thead>
					<tr>
						<th>CURRENCY</th>
						<th>BUY</th>
						<th>SELL</th>
					</tr>
				</thead>
				<tbody class="pl-5">
					{{#each ncbBank}}
						<tr class="pl-5">
							<td><strong>{{currency}}</strong></td>
							<td>{{buying_rate}}</td>
							<td>{{selling_rate}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
			<div class="button-link">
				<button class="btn btn-success site-btn" type="button">Go to Site</button>
			</div>
	</div>
</template>
