<template name="cards">
  <div class="cards-section">
  	<ul class="cards-list">
    		<li class="card-item">
    			<div class="bank-brand"></div>
    			<div class="bank-rates">
    				<div>
    					<h3>Buying</h3>Rate 1
    				</div>
    				<div>
    					<h3>Selling</h3>Rate 2
    				</div>
    			</div>
    			<div class="bank-location"></div>
    		</li>
      <li class="card-item">
  			<div class="bank-brand"></div>
  			<div class="bank-rates">
  				<div>
  					<h3>Buying</h3>Rate 1
  				</div>
  				<div>
  					<h3>Selling</h3>Rate 2
  				</div>
  			</div>
  			<div class="bank-location"></div>
  		</li>
  		<li class="card-item">
  			<div class="bank-brand"></div>
  			<div class="bank-rates">
  				<div>
  					<h3>Buying</h3>Rate 1
  				</div>
  				<div>
  					<h3>Selling</h3>Rate 2
  				</div>
  			</div>
  			<div class="bank-location"></div>
  		</li>
  		<li class="card-item">
  			<div class="bank-brand"></div>
  			<div class="bank-rates">
  				<div>
  					<h3>Buying</h3>Rate 1
  				</div>
  				<div>
  					<h3>Selling</h3>Rate 2
  				</div>
  			</div>
  			<div class="bank-location"></div>
  		</li>
  		<li class="card-item">
  			<div class="bank-brand"></div>
  			<div class="bank-rates">
  				<div>
  					<h3>Buying</h3>Rate 1
  				</div>
  				<div>
  					<h3>Selling</h3>Rate 2
  				</div>
  			</div>
  			<div class="bank-location"></div>
  		</li>
  		<li class="card-item">
  			<div class="bank-brand"></div>
  			<div class="bank-rates">
  				<div>
  					<h3>Buying</h3>Rate 1
  				</div>
  				<div>
  					<h3>Selling</h3>Rate 2
  				</div>
  			</div>
  			<div class="bank-location"></div>
  		</li>
  		<li class="card-item">
  			<div class="bank-brand"></div>
  			<div class="bank-rates">
  				<div>
  					<h3>Buying</h3>Rate 1
  				</div>
  				<div>
  					<h3>Selling</h3>Rate 2
  				</div>
  			</div>
  			<div class="bank-location"></div>
  		</li>
  	</ul>
  </div>
</template>
