<template name="cards">
  <div class="cards-section">
  	<ul class="cards-list">
      {{#each bankRates}}
    		<li class="card-item">
    			<div class="bank-brand">
          {{#each getSortedBankData (bank_id) }}
    			  <a href="/card"><img src="{{logo_url}}" alt="Bank Logo" class="bank-logo img-fluid"></a>
            <span><strong>{{abbreviation}}</strong></span>
          {{/each}}
    			</div>
    			<div class="bank-rates">
    				<div class="pt-0 pb-0 mb-0 mt-0">
    					<h6>${{buying_rate}}</h6>BUY {{getCurrency}}
    				</div>
    				<div class="pt-0 pb-0 mb-0 mt-0">
    					<h3>${{selling_rate}}</h3>SELL {{getCurrency}}
    				</div>
    			</div>
          {{> map}}
    		</li>
      {{/each}}
  	</ul>
  </div>
   <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8_fxkTfWxVNocwhWRUsL8Hly0ggiB-Dw&libraries=places"></script> -->
</template>
