<template name="navigation">
  <div class="row fixed-top bg-info visible-xs-block" id="menu-bar">
    <div class="col-xs-2 visible-xs-block h-100">
      <button class="btn btn-info text-center border-0 w-100 h-100" id="menu-xs-button">
        <i aria-hidden="true" class="fa fa-bars md-icon"></i>
      </button>
    </div>
    <div class="col-xs-8 visible-xs-block title-xs text-center text-white" id="page-title">Home</div>
    <div class="col-xs-2 col-sm-2 col-md-2"></div>
  </div>
</template>
