<template name="selectCurrency">
   <div class="container-fluid">
     <div class="content">
       <div class="splash-logo">
         <img src="/cfs/files/images/PaCS6wHqLiJ6Qg7Ph" alt="ForeIn Logo">
       </div>
       <div class="input-box" id="homeCurrency">
        <input type="text" class="form-control" id="user-input">
        <input type="text" value="JMD" class="form-control" id="jmd" disabled>
      </div>
      <div class="input-box" id="desiredCurrencyArea">
        <p class="convert-text text-center">Convert To</p>
        <select id="desiredCurrency" class="form-control">
          <option value="USD">USD</option>
          <option value="CAD">CAD</option>
          <option value="EUR">EUR</option>
          <option value="GBP">GBP</option>
          <option value="TTD">TTD</option>
          <option value="KYD">KYD</option>
        </select>
        <button class="convert-btn" type="submit">
          <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</template>
